<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>

  <unity>
    <container name="dependency"/>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.11.1.0" newVersion="5.11.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.11.1.0" newVersion="5.11.1.0"/>
      </dependentAssembly>
    </assemblyBinding>

  </runtime>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="Default">
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
    </session-factory>
  </hibernate-configuration>
</configuration>
