<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>

  <unity>
    <container name="dependency"/>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
  </runtime>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="Default">
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
    </session-factory>
  </hibernate-configuration>
</configuration>
